<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/fontawesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {# << All Wrapper #}
        <div class="all-wrapper">

            {# << Main Row #}
            <div class="row">

                {# << Sidebar #}
                <div class="col-md-3">
                    <div class="text-center">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
                        <a href="index.html#" class="logo hidden-sm hidden-xs">
                            <i class="icon-cloud-download"></i>
                            <span>Mars Admin</span>
                        </a>
                        <div class="search-box">
                            <input type="text" placeholder="SEARCH" class="form-control">
                        </div>
                        <ul class="side-menu">
                            <li>
                                <a href="notifications.html">
                                    <span class="badge badge-notifications pull-right alert-animated">5</span>
                                    <i class="fa fa-flag"></i> Notifications
                                </a>
                            </li>
                        </ul>
                        <div class="relative-w">
                            <ul class="side-menu">
                                <li {% if route == 'dashboard' %} class='current'{% endif %}>
                                    <a href="{{ path('user_dashboard') }}">
                                        <span class="badge pull-right">17</span>
                                        <i class="fa fa-dashboard"></i> Dashboard
                                    </a>
                                </li>
                                <li {% if route == 'experience' %} class='current'{% endif %}>
                                    <a href="{{ path('user_experience_index') }}" class="is-dropdown-menu">
                                        <span class="badge pull-right"></span>
                                        <i class="fa fa-briefcase"></i> Experience
                                    </a>
                                </li>
                                <li>
                                    <a href="forms.html">
                                        <span class="badge pull-right">12</span>
                                        <i class="fa fa-terminal"></i> Forms
                                    </a>
                                </li>
                                <li>
                                    <a href="elements.html" class="is-dropdown-menu">
                                        <span class="badge pull-right"></span>
                                        <i class="fa fa-code-fork"></i> UI Elements
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="elements.html">
                                                <i class="icon-beaker"></i>
                                                Elements
                                        </a>
                                        </li>
                                        <li>
                                            <a href="icons.html">
                                                <i class="icon-picture"></i>
                                                Icons
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="datatable.html" class="is-dropdown-menu">
                                        <span class="badge pull-right">24</span>
                                        <i class="fa fa-th"></i> Tables
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="datatable.html">
                                                <i class="icon-list-alt"></i>
                                                Data Tables
                                            </a>
                                        </li>
                                        <li>
                                            <a href="table.html">
                                                <i class="icon-table"></i>
                                                Regular Tables
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="calendar.html">
                                        <span class="badge pull-right">11</span>
                                        <i class="fa fa-calendar"></i> Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                        <span class="badge pull-right"></span>
                                        <i class="fa fa-sign-in"></i> Login Page
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {# >> Sidebar #}

                <div class="col-md-9">
                      <div class="content-wrapper wood-wrapper">
                            <div class="content-inner">
                                <div class="page-header">
                                    <div class="header-links hidden-xs">
                                        <a href="notifications.html"><i class="fa fa-comments"></i> User Alerts</a>
                                        <a href="index.html#"><i class="fa fa-cog"></i> Settings</a>
                                        <a href="{{ path('security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
                                    </div>
                                    {% block pageTitle %}{% endblock %}
                                </div>

                                <div class="page-head-notify">
                                    <ol class="breadcrumb pull-left">
                                        <li><a href="index.html#">Home</a></li>
                                        <li><a href="index.html#">Bread</a></li>
                                        <li><a href="index.html#">Crumbs</a></li>
                                        <li class="active">Example</li>
                                    </ol>
                                    <div class="page-menu pull-right">
                                        {% block pageMenu %}{% endblock %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                {# << Main Content #}
                                <div class="main-content">
                                    {% block mainContent %}{% endblock %}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            {# >> Main Row #}

        </div>
        {# >> All Wrapper #}
    }

{#}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src='865b8229b0ce41d6b0c8e0fc7416f9f2.js'></script>

<script src='15a0b84663e72cbef64a7b3ee6cd86b8.js'></script>
{#}

        <script type="text/javascript" src="{{ asset('bundles/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
