<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/fontawesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# << All Wrapper #}
        <div class="all-wrapper">

            {# << Main Row #}
            <div class="row">

                {# << Sidebar #}
                <div class="col-md-3">
                    <div class="text-center">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
                        <a href="index.html#" class="logo hidden-sm hidden-xs">
                            <i class="icon-cloud-download"></i>
                            <span>Mars Admin</span>
                        </a>
                        <div class="search-box">
                            <input type="text" placeholder="SEARCH" class="form-control">
                        </div>
                        <ul class="side-menu">
                            <li>
                                <a href="notifications.html">
                                    <span class="badge badge-notifications pull-right alert-animated">5</span>
                                    <i class="fa fa-flag"></i> Notifications
                                </a>
                            </li>
                        </ul>
                        <div class="relative-w">
                            <ul class="side-menu">
                                <li class='current'>
                                    <a class='current' href="index.html">
                                        <span class="badge pull-right">17</span>
                                        <i class="fa fa-dashboard"></i> Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a href="charts.html" class="is-dropdown-menu">
                                        <span class="badge pull-right"></span>
                                        <i class="fa fa-bar-chart-o"></i> Charts
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="charts.html#area_chart_anchor">
                                                <i class="icon-random"></i>
                                                Area Chart
                                            </a>
                                        </li>
                                        <li>
                                            <a href="charts.html#circle_chart_anchor">
                                                <i class="icon-bullseye"></i>
                                                Circular Chart
                                            </a>
                                        </li>
                                        <li>
                                            <a href="charts.html#bar_chart_anchor">
                                                <i class="icon-signal"></i>
                                                Bar Chart
                                            </a>
                                        </li>
                                        <li>
                                            <a href="charts.html#line_chart_anchor">
                                                <i class="icon-bar-chart"></i>
                                                Line Chart
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="forms.html">
                                        <span class="badge pull-right">12</span>
                                        <i class="fa fa-terminal"></i> Forms
                                    </a>
                                </li>
                                <li>
                                    <a href="elements.html" class="is-dropdown-menu">
                                        <span class="badge pull-right"></span>
                                        <i class="fa fa-code-fork"></i> UI Elements
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="elements.html">
                                                <i class="icon-beaker"></i>
                                                Elements
                                        </a>
                                        </li>
                                        <li>
                                            <a href="icons.html">
                                                <i class="icon-picture"></i>
                                                Icons
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="datatable.html" class="is-dropdown-menu">
                                        <span class="badge pull-right">24</span>
                                        <i class="fa fa-th"></i> Tables
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="datatable.html">
                                                <i class="icon-list-alt"></i>
                                                Data Tables
                                            </a>
                                        </li>
                                        <li>
                                            <a href="table.html">
                                                <i class="icon-table"></i>
                                                Regular Tables
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="calendar.html">
                                        <span class="badge pull-right">11</span>
                                        <i class="fa fa-calendar"></i> Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                        <span class="badge pull-right"></span>
                                        <i class="fa fa-sign-in"></i> Login Page
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {# >> Sidebar #}

                <div class="col-md-9">
                    <div class="content-wrapper wood-wrapper">
                        <div class="content-inner">
                            <div class="page-header">
                                <div class="header-links hidden-xs">
                                    <a href="notifications.html"><i class="fa fa-comments"></i> User Alerts</a>
                                    <a href="index.html#"><i class="fa fa-cog"></i> Settings</a>
                                    <a href="index.html#"><i class="fa fa-sign-out"></i> Logout</a>
                                </div>
                                <h1><i class="icon-bar-chart"></i> Dashboard</h1>
                            </div>
                            <ol class="breadcrumb">
                                <li><a href="index.html#">Home</a></li>
                                <li><a href="index.html#">Bread</a></li>
                                <li><a href="index.html#">Crumbs</a></li>
                                <li class="active">Example</li>
                            </ol>

                            {# << Main Content #}
                            <div class="main-content">
                                <div class="widget">
                                    <div class="alert alert-warning alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon-exclamation-sign"></i> <strong>Welcome!</strong> This is a dashboard of the powerful admin template.
                                    </div>
                                </div>

                                {# << Widget #}
                                <div class="widget">
                                    <div class="widget-controls pull-right">
                                        <a href="index.html#" class="widget-link-remove"><i class="icon-minus-sign"></i></a>
                                        <a href="index.html#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
                                    </div>
                                    <h3 class="section-title first-title"><i class="icon-tasks"></i> Statistics</h3>

                                    {# << Row #}
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                            <div class="widget-content-blue-wrapper changed-up">
                                                <div class="widget-content-blue-inner padded">
                                                    <div class="pre-value-block"><i class="icon-dashboard"></i> Total Visits</div>
                                                    <div class="value-block">
                                                        <div class="value-self">10,520</div>
                                                        <div class="value-sub">This Week</div>
                                                    </div>
                                                    <span class="dynamicsparkline">Loading..</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                            <div class="widget-content-blue-wrapper changed-up">
                                                <div class="widget-content-blue-inner padded">
                                                    <div class="pre-value-block"><i class="icon-user"></i> New Users</div>
                                                    <div class="value-block">
                                                        <div class="value-self">1,120</div>
                                                        <div class="value-sub">This Month</div>
                                                    </div>
                                                    <span class="dynamicsparkline">Loading..</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center hidden-md">
                                            <div class="widget-content-blue-wrapper changed-up">
                                                <div class="widget-content-blue-inner padded">
                                                    <div class="pre-value-block"><i class="icon-signin"></i> Sold Items</div>
                                                    <div class="value-block">
                                                        <div class="value-self">275</div>
                                                        <div class="value-sub">This Week</div>
                                                    </div>
                                                    <span class="dynamicsparkline">Loading..</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                            <div class="widget-content-blue-wrapper changed-up">
                                                <div class="widget-content-blue-inner padded">
                                                    <div class="pre-value-block"><i class="icon-money"></i> Net Profit</div>
                                                    <div class="value-block">
                                                        <div class="value-self">$9,240</div>
                                                        <div class="value-sub">Yesterday</div>
                                                    </div>
                                                    <span class="dynamicbars">Loading..</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# >> Row #}
                                </div>
                                {# >> Widget #}

                                {# << Widget #}
                                <div class="widget">
                                    <div class="widget-controls pull-right">
                                        <a href="index.html#" class="widget-link-remove"><i class="icon-minus-sign"></i></a>
                                        <a href="index.html#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
                                    </div>
                                    <h3 class="section-title"><i class="icon-bar-chart"></i> Profit Chart</h3>
                                    <ul class="nav nav-pills">
                                        <li class="active"><a href="index.html#">Hour</a></li>
                                        <li><a href="index.html#">Day</a></li>
                                        <li><a href="index.html#">Month</a></li>
                                        <li class="hidden-xs"><a href="index.html#">Year</a></li>
                                    </ul>
                                    <div class="widget-content-white">
                                        <div class="shadowed-bottom bottom-margin">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-5 col-sm-6 bordered">
                                                    <div class="value-block value-bigger changed-up some-left-padding">
                                                        <div class="value-self">
                                                            $5,450
                                                            <span class="changed-icon"><i class="icon-caret-up"></i></span>
                                                            <span class="changed-value">+5.00%</span>
                                                        </div>
                                                        <div class="value-sub">Average of $450.35 Per Day</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-3 visible-md visible-lg bordered">
                                                    <div class="value-block text-center">
                                                        <div class="value-self">520</div>
                                                        <div class="value-sub">Total Sales</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 bordered visible-lg">
                                                    <div class="value-block text-center">
                                                        <div class="value-self">1,120</div>
                                                        <div class="value-sub">Total Visitors</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6">
                                                    <form class="form-inline form-period-selector">
                                                        <label class="control-label">Time Period:</label><br>
                                                        <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                        <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="padded">
                                            <div id="areachart" style="height: 250px;"></div>
                                        </div>
                                    </div>
                                </div>
                                {# >> Widget #}

                                {# << Widget #}
                                <div class="widget">
                                    <div class="widget-controls pull-right">
                                        <a href="index.html#" class="widget-link-remove"><i class="icon-minus-sign"></i></a>
                                        <a href="index.html#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
                                    </div>
                                    <h3 class="section-title bottom-margin"><i class="icon-bullseye"></i> Circular Charts</h3>
                                    <div class="row bottom-margin">
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                            <input type="text" value="75" class="knob" data-fgColor="#df6064" data-linecap="round" data-width="150">
                                        </div>
                                        <div class="col-lg-3 hidden-md col-sm-6 text-center">
                                            <input type="text" value="65" class="knob" data-fgColor="#8963ac" data-linecap="round" data-width="150">
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                            <input type="text" value="85" class="knob" data-fgColor="#61a9dc" data-linecap="round" data-width="150">
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                            <input type="text" value="68" class="knob" data-fgColor="#71c280" data-linecap="round" data-width="150">
                                        </div>
                                        </div>
                                    </div>
                                {# >> Widget #}

                                {# << Row #}
                                <div class="row">
                                    <div class="col-md-8">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="index.html#tab_pie_chart" data-toggle="tab"><i class="icon-bullseye"></i> Pie Chart</a></li>
                                            <li><a href="index.html#tab_bar_chart" data-toggle="tab"><i class="icon-bar-chart"></i> Bar Alert</a></li>
                                            <li class="hidden-md hidden-xs"><a href="index.html#tab_table" data-toggle="tab"><i class="icon-table"></i> Table</a></li>
                                        </ul>
                                        <div class="tab-content bottom-margin">
                                            <div class="tab-pane active" id="tab_pie_chart">
                                                <div class="shadowed-bottom">
                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-4 col-sm-3 bordered">
                                                            <div class="value-block padded-left text-center">
                                                                <div class="value-self">520</div>
                                                                <div class="value-sub">Total Sales</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-3 bordered hidden-md">
                                                            <div class="value-block text-center">
                                                                <div class="value-self">1,120</div>
                                                                <div class="value-sub">Total Visitors</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-8 col-sm-6">
                                                            <form class="form-inline form-period-selector">
                                                                <label class="control-label">Time Period:</label><br>
                                                                <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                                <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="padded">
                                                    <div id="piechart" style=""></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_bar_chart">
                                                <div class="shadowed-bottom">
                                                    <div class="row">
                                                        <div class="col-md-3 bordered">
                                                            <div class="value-block padded-left text-center">
                                                                <div class="value-self">256</div>
                                                                <div class="value-sub">Total Sales</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 bordered hidden-md">
                                                            <div class="value-block text-center">
                                                                <div class="value-self">3,420</div>
                                                                <div class="value-sub">Total Visitors</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-9">
                                                            <form class="form-inline form-period-selector">
                                                                <label class="control-label">Time Period:</label><br>
                                                                <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                                <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="padded">
                                                    <div class="alert alert-warning">
                                                    <i class="icon-exclamation-sign"></i> <strong>Message example!</strong> This is an example of how to handle a case when there is no data to load for a chart.</div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_table">
                                                <div class="shadowed-bottom">
                                                    <div class="row">
                                                        <div class="col-md-3 bordered">
                                                            <div class="value-block padded-left text-center">
                                                                <div class="value-self">112</div>
                                                                <div class="value-sub">Total Sales</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 bordered hidden-md">
                                                            <div class="value-block text-center">
                                                                <div class="value-self">2,340</div>
                                                                <div class="value-sub">Total Visitors</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-9">
                                                            <form class="form-inline form-period-selector">
                                                                <label class="control-label">Time Period:</label><br>
                                                                <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                                <input type="text" placeholder="01/12/2011" class="form-control input-sm">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="padded">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Qty</th>
                                                                <th>Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Floor Lamp</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Coffee Mug</td>
                                                                <td>4</td>
                                                                <td>7</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Television</td>
                                                                <td>1</td>
                                                                <td>3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Red Carpet</td>
                                                                <td>6</td>
                                                                <td>5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Laptop</td>
                                                                <td>3</td>
                                                                <td>6</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="widget">
                                            <div class="widget-controls pull-right hidden-md">
                                                <a href="index.html#" class="widget-link-remove"><i class="icon-minus-sign"></i></a>
                                                <a href="index.html#" class="widget-link-remove"><i class="icon-remove-sign"></i></a>
                                            </div>
                                            <h3 class="section-title first-title"><i class="icon-table"></i> Top Sellers</h3>
                                            <div class="widget-content-white padded glossed">
                                                <div id="topsellers_barchart"></div>
                                                <table class="table" id="topsellers_table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Qty</th>
                                                            <th>Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Floor Lamp</td>
                                                            <td>2</td>
                                                            <td>3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Coffee Mug</td>
                                                            <td>4</td>
                                                            <td>7</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Television</td>
                                                            <td>1</td>
                                                            <td>3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Red Carpet</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Laptop</td>
                                                            <td>3</td>
                                                            <td>6</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <a href="index.html#" class="btn btn-sm btn-default">view more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# >> Row #}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# >> Main Row #}

        </div>
        {# >> All Wrapper #}

{#}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src='865b8229b0ce41d6b0c8e0fc7416f9f2.js'></script>

<script src='15a0b84663e72cbef64a7b3ee6cd86b8.js'></script>
{#}

        <script type="text/javascript" src="{{ asset('bundles/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
