{% extends 'user/template/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/izimodal/css/iziModal.min.css') }}">
{% endblock %}

{% block pageTitle %}
    <h1><i class="icon-bar-chart"></i> Experience: New</h1>
{% endblock %}

{% block pageMenu %}

{% endblock %}

{% block mainContent %}

    {{ form_start(form, {'attr':{'id':'newForm'}}) }}
        <div class="row">
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <h3 class="form-title form-title-first">Summary</h3>
                            <div class="form-group">
                                {{ form_row(form.title) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <h3 class="form-title form-title-first">Company</h3>
                            <div class="form-group">
                                {{ form_row(form.company) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.contactPerson) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.contactNumber) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.start) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.end) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <h3 class="form-title form-title-first">Duties</h3>

                            <table class="table table-striped table-bordered table-hover" id="dutyTable">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th width="100" class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exp in experience.responsibilities if experience.responsibilities|length %}
                                        <tr id="row-{{ exp.id }}">
                                            <td>{{ exp.detail }}</td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-default btn-xs js-edit" data-id="{{ exp.id }}">
                                                    <i class="fa fa-pencil"></i> edit
                                                </a>
                                                <a href="#" class="btn btn-danger btn-xs js-delete" data-id="{{ exp.id }}">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <input type="hidden" name="duties[]" id="input-{{ exp.id }}" value="{{ exp.detail }}">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>
                                            <input type="text" id="blankDuty" class="form-control input-sm">
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-primary btn-sm btn-block btn-lg" id="addDuty"><i class="fa fa-plus"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-content-white">
                        <div class="padded">
                            <div class="text-right">
                                <button class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/izimodal/js/iziModal.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {

            // << Add Duty
            var newDutyInput= $('<input/>',{'name':'duties[]', 'autocomplete':'off'});
            var newForm     = $('#newForm');
            var dutyTable   = $('#dutyTable');
            var addDuty     = $('#addDuty');
            var dutyRow     = $('<tr/>',{'id':'x'})
                .append($('<td/>'))
                .append($('<td/>',{'class':'text-center'})
                    .append($('<a/>',{'class':'btn btn-default btn-xs js-edit','style':'margin-right:4px;'})
                        .append($('<i/>', {'class':'fa fa-pencil'}))
                        .append(' edit')
                    )
                    .append($('<a/>',{'class':'btn btn-danger btn-xs js-delete'})
                        .append($('<i/>', {'class':'fa fa-times'}))
                    )
                )
            ;

            addDuty.click(function(e) {
                e.preventDefault();

                var newDesc = $('#blankDuty').val();

                if (newDesc == '') {
                    return;
                }

                randomId    = Math.floor(Math.random() * (9999 + 1) + 99);

                var newRow = dutyRow.clone();
                newRow.attr('id', 'row-'+randomId);
                newRow.find('td:first').text(newDesc);
                newRow.find('.js-edit')
                    .attr('data-id', randomId)
                    .on('click', function(e) {
                        e.preventDefault();

                        var xid = $(this).data('id');

                        $('#blankDuty').val($('tr#row-'+xid+' td:first').text()).focus();
                        $('tr#row-'+xid).remove();
                        $('input#input-'+xid).remove();

                    })
                ;
                newRow.find('.js-delete')
                    .attr('data-id',randomId)
                    .on('click', function(e) {
                        e.preventDefault();

                        var xid = $(this).data('id');
                        $('tr#row-'+xid).remove();
                        $('input#input-'+xid).remove();
                    });

                dutyTable.prepend(newRow);
                newForm.append(newDutyInput.clone().attr(
                    {
                        'id':'input-'+randomId,
                        'val':newDesc
                    })
                    .val(newDesc));

                //newForm.
                //deleteDuty(randomId);

                $('#blankDuty').val('');
            });
            // >> Add Duty

            // << Delete Duty
            var jsDelete = $('.js-delete');
            jsDelete.click(function(e) {
                e.preventDefault();

                var id = $(this).data('id');
                $('tr#row-'+id).remove();
                $('input#input-'+id).remove();
            });
            // >> Delete Duty

            // << Edit Duty
            var jsEdit = $('.js-edit');
            jsEdit.click(function(e) {
                e.preventDefault();

                var xid = $(this).data('id');

                $('#blankDuty').val($('tr#row-'+xid+' td:first').text()).focus();
                $('tr#row-'+xid).remove();
                $('input#input-'+xid).remove();
            });
            // >> Edit Duty
        });
    </script>
{% endblock %}