{% extends 'user/template/base.html.twig' %}

{% block pageTitle %}
    <h1><i class="icon-bar-chart"></i> Experiences</h1>
{% endblock %}

{% block pageMenu %}
    <div class="btn-group">
        <a href="{{ path('user_experience_new') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New</a>
    </div>
{% endblock %}

{% block mainContent %}
	{% if app.session.flashBag.has('success') %}
		<div class="alert alert-success">
			{% for msg in app.session.flashBag.get('success') %}
				{{ msg }}
			{% endfor %}
		</div>
	{% endif %}

	<div class="widget">
		<h3 class="section-title first-title"><i class="fa fa-users"></i> Experiences</h3>
		<div class="widget-content-white glossed">
			<div class="padded">
				{% if experiences|length %}
					<table class="table table-responsive table-bordered">
						<tr>
							<th>Title</th>
							<th>Company</th>
							<th>Start</th>
							<th>End</th>
						</tr>
						{% for experience in experiences %}
							<tr>
								<td>{{ experience.title }}</td>
								<td>{{ experience.company }}</td>
								<td>{{ experience.start|date('M Y') }}</td>
								<td>{{ experience.end|date('M Y') }}</td>
								<td class="text-right">
									<a href="{{ path('user_experience_edit', {id:experience.id}) }}" class="btn btn-xs btn-default" data-id="{{ experience.id }}"><i class="fa fa-pencil"></i> edit</a>
									<a href="#" class="btn btn-xs btn-danger" data-id="{{ experience.id }}"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
				    <div class="alert alert-warning">
				        <i class="icon-exclamation-sign"></i>
				        <strong>Empty!</strong> You haven't listed any of your experience yet.
				    </div>
				 {% endif %}
			</div>
		</div>
	</div>

{% endblock %}