{% extends 'user/template/base.html.twig' %}

{% block pageTitle %}
    <h1><i class="icon-bar-chart"></i> Dashboard</h1>
{% endblock %}

{% block mainContent %}

    {# << Main Content #}
    <div class="main-content">
        <div class="widget">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon-exclamation-sign"></i> <strong>Welcome!</strong> This is a dashboard .
            </div>
        </div>

    </div>
{% endblock %}